.Biodata {
    max-width: 500px;
    max-height: 500px;
    margin: 40px auto;
    padding: 200px;
    background-color: #ffebc6;
    border: rgb(165, 108, 3);
    box-shadow: 0 0 20px rgb(155, 107, 4);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

h1 {
    font-size: 3.0rem;
    text-align: left;
    margin: 30px 30px 30px;
    background-repeat: 20-repeat;
    text-transform: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;

}
